.DS_Store
.idea
.ipynb_checkpoints/
.vscode
__pycache__/
*.bin
*.pkl
*.pt
*.pyc
input.txt
env/
venv/
/wandb
/manim/media
/features
/models/shakespeare_char
/.claude
/embeddings
research_questions.md
notes.qmd
.Rhistory
/projects/
/out-*/
